# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Lab_05_OOP.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\University\Labs\OOP part 2\Lab_05_OOP\.idea\.idea.Lab_05_OOP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
